<h1 class ="display-4" style="text-align: center;">Find a Part</h1>
<div style="width:700px; margin:auto">
    <form method="POST" action="/findpart17">
        <div class="form-group">
            <label for="id">Part Id</label>
            <input type="number" name="id" id="id" min="0" placeholder="Part id" class="form-control" onkeyup="enableButton17()">
        </div>
        <div class="text-center">
            <input type="submit" value="Search" id="submit_button" class="btn btn-primary" disabled>
        </div>
    </form>
</div>
<div style="width:700px; margin:auto; margin-top:25px">
    <span>
        Found <%= parts17.length %> result!
    </span>
</div>
<div style="width:700px; margin:auto; margin-top:25px">
    <%if (parts17.length>0) { %>
        <table class = "table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Part Id</th>
                    <th>Part Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                    <% parts17.forEach(function(parts17){ %>
                        <tr>
                            <td><%= parts17.id %></td>
                            <td><%= parts17.partName %></td>
                            <td><%= parts17.qoh %></td>
                        </tr>
                    <% }) %>
            </tbody>
        </table>
    <% } %>
</div>
<script type="text/javascript">
    function enableButton17(){
        var partId17 = document.getElementById("id");
        if(partId17.value.length > 0) { 
            document.getElementById('submit_button').disabled = false; 
        } else { 
            document.getElementById('submit_button').disabled = true;
        }
    }
</script>