<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js" integrity="sha256-XahKYIZhnEztrOcCTmaEErjYDLoLqBoDJbVMYybyjH8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    

    <script>
        //I found idea for this from https://stackoverflow.com/questions/24514717/bootstrap-navbar-active-state-not-working
        $(document).ready(function() {
          $.each($('.navbar').find('li'), function() {
              $(this).toggleClass('active',
              window.location.pathname.indexOf($(this).find('a').attr('href')) > -1);
          });
        });
    </script>
      
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Company-Y</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/Dev/displayAllParts17">All Parts<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Dev/displayPartByIdPage17">Find Part</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Dev/addpart">Add Part</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Dev/searchOrderPage">Search order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Dev/displayAllOrder17">Orders</a>
        </li>
      </ul>
    </div>
  </nav>

<h1 class ="display-4" style="text-align: center;">Find a Part</h1>
<div style="width:700px; margin:auto">
    <form method="POST" action="/Dev/displayPartById17">
        <div class="form-group">
            <label for="id">Part Id</label>
            <input type="number" name="id" id="id" min="0" placeholder="Part id" class="form-control" onkeyup="enableButton17()">
        </div>
        <div class="text-center">
            <input type="submit" value="Search" id="submit_button" class="btn btn-primary" disabled>
        </div>
    </form>
</div>
<div style="width:700px; margin:auto; margin-top:25px">
    <span>
        Found <%= parts17.length %> result!
    </span>
</div>
<div style="width:700px; margin:auto; margin-top:25px">
    <%if (parts17.length>0) { %>
        <table class = "table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Part Id</th>
                    <th>Part Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                    <% parts17.forEach(function(parts17){ %>
                        <tr>
                            <td><%= parts17.partId %></td>
                            <td><%= parts17.partName %></td>
                            <td><%= parts17.qoh %></td>
                        </tr>
                    <% }) %>
            </tbody>
        </table>
    <% } %>
</div>
<script type="text/javascript">
    function enableButton17(){
        var partId17 = document.getElementById("id");
        if(partId17.value.length > 0) { 
            document.getElementById('submit_button').disabled = false; 
        } else { 
            document.getElementById('submit_button').disabled = true;
        }
    }
</script>