<div class="home">
    <a href="/"></a>
</div>
<div class="box adjust_4">
    <form action="/searchOrder" method="POST">
        <label for="jobName">Job Name</label>
        <input type="text" placeholder="Enter JobName" class="inp" id="jobName" name="jobName"/>
        <input type="submit" class="submit" value="Search"/>
    </form>
</div>
