<html>
 
     <head>
         <style>
             button{
                width: 300px;
    height: 45px;
    background: #7da3a1;
    
             }
             .btn{
                 border: 2px solid black;
                 font-weight: 500;
                 background: #7da3a1;
                 color: white;
                 

                 

             }

             .header{
                height: 80px;
    padding: 10px;
                background-color: #34675c;
                 
                 color: white;
                 font-weight: 500;
             }
             .card{
             border: 2px solid black;
    padding: -49px;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 50px;
             }
         </style>
     </head>
  
<body>
<div class="header">
<h1><center>Welcome To Company Z </center></h1>
</div>
<br><br>
<div class="card">
<form action="/selectjobs" method="GET" class="m-5">
 <center> <button class="btn"> Order parts </button> </center>
 </form>

<form action="/allOrders" method="GET" class="m-5">
<center> <button class="btn"> All Orders </button> </center>
</form>

<form action="/showSearch" method="GET" class="m-5">
    <center> <button class="btn"> Show contents of search table </button> </center>
</form>
</div>
</body>
</html>