<head>
    <style>
        .header{
                height: 80px;
    padding: 10px;
                background-color: #34675c;
                 
                 color: white;
                 font-weight: 500;
             }
             .home{
				position: absolute;
    margin-top: -40px;
			 }
    </style>
</head>

<div class="header">
    <div class="home">
		<form action="/" method="GET" class="m-5">
			<center> <button style="color:white;font-weight: 500;border-radius: 10px;line-height: 1px;width: 200px ;height: 35px;border:1px solid white;background:#7da3a1 ;" class="btn"> Home </button> </center>
		</form>
		</div>
<h1 class ="display-4" style="text-align: center;">Search</h1>
</div>

<br>
<br>
<br>

<div style="width:700px; margin:auto">
    <table class = "table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Job Name</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% search17.forEach(function(search){ %>
                <tr>
                    <td><%= search.id %></td>
                    <td><%= search.date %></td>
                    <td><%= search.time %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <form action="/" method="GET" class="m-5">
        <center> <button class="btn btn-primary"> Home </button> </center>
    </form>
</div>