<form [formGroup]="findJob" (ngSubmit)="submit()" class="form">

  <div class="input-section">
    <label for="jobName">Job Name</label>
    <input type="text" id="jobName" placeholder="Job Name" class="inp" formControlName="jn"/>
    <div *ngIf="IsSubmitted && control.jn.errors" class="error">
      <div *ngIf="control.jn.errors.required">Job Name is required</div>
    </div>
  </div>

  <div class="input-section">
    <label for="partID">Part ID</label>
    <input type="text" id="partID" placeholder="Part ID" class="inp" formControlName="pid"/>
    <div *ngIf="IsSubmitted && control.pid.errors" class="error">
      <div *ngIf="control.pid.errors.required">Part ID is required</div>
    </div>
  </div>

  <button class="submit">Find Job</button>
</form>

<div *ngIf="noMatch" class="noMatch">No match found for given input!!</div>

<table *ngIf="oneJob.length === 1">
  <tr class="head-row">
    <th>Job Name</th>
    <th>Part ID</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let item of oneJob">
    <td>{{item.jobName}}</td>
    <td>{{item.partId}}</td>
    <td>{{item.qty}}</td>
  </tr>
</table>
